@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-transparent: lab(98.6846% -1.79058 9.77662 / 0);
}

@theme inline {
  --font-*: initial;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  @apply scroll-smooth scroll-pt-32;
}

body {
  @apply bg-yellow-50 text-stone-900;
}

@utility prose-stone {
  --tw-prose-quote-borders: var(--color-yellow-200);
  --tw-prose-bullets: var(--color-yellow-500);
  --tw-prose-hr: var(--color-yellow-300);
}
